# Dataset Retrieval & Data Manipulation
datasets
pandas
scikit-learn
numpy
seaborn 
matplotlib

# NLP Frameworks & Transformers
transformers
torch
accelerate
sentence-transformers
jupyter pytest

# Evaluation & Utilities
evaluate
tqdm
