# Dataset Retrieval & Data Manipulation
datasets
pandas
scikit-learn
sklearn
numpy
seaborn 
matplotlib
pyarrow
spaCy

# NLP Frameworks & Transformers
transformers
torch
accelerate
sentence-transformers


# Evaluation & Utilities
evaluate
tqdm
